 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@1,300&family=Poppins:wght@300&family=Roboto:wght@300&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@600&family=Jost:ital,wght@1,300&family=Poppins:wght@300&family=Roboto:wght@300&display=swap');

 * {
     margin: 0;
     padding: 0;
 }

 .header {
     background-color: rgb(35, 34, 34);
     color: white;
     width: 100vw;
     height: 3rem;
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap;
     /* align-items:flex-end; */
 }

 .portfolio-heading {
     color: white;
     text-decoration: none;
     margin: 1rem;
     font-weight: 1000;
     font-size: 1rem;
     /* font-family: 'Baloo 2', cursive; */
/* font-family: 'Jost', sans-serif; */
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap'); */
/* font-family: 'Roboto', sans-serif; */
     /* padding:2%; */
 }

 .header a.portfolio-heading {
    /* font-weight: 800; */
     font-size: 2rem;
     font-family: 'Baloo 2', cursive;
    margin-top: 0rem;

 }

 .navbar {

     margin-top: 1rem;
     margin-right: 1em;
     font-family: 'Poppins', sans-serif;
 }

 .navbar a {
     margin-left: 35px;
     margin-bottom: 2rem;
     margin-right: 10px;
     color: white;
     text-decoration: none;
     font-size: 1rem;

     padding-bottom: 6rem;

 }

 body {
     background-color: black;
     color: white;
     width:100vw;
 }

 .navbar a.basic {
     background: linear-gradient(45deg, rgb(255, 28, 119), rgb(46, 179, 223));
     -webkit-text-fill-color: transparent;
     -webkit-background-clip: text;

 }

 .navbar a:hover {
     background: linear-gradient(45deg, rgb(255, 28, 119), rgb(46, 179, 223));
     -webkit-text-fill-color: transparent;
     -webkit-background-clip: text;

 }

 .main-content {
     /* font-family: font-family: 'Jost', sans-serif; */
     /* font-family: 'Poppins', sans-serif; */
     font-family: 'Roboto', sans-serif;
     ;
     height: 50vh;
     width: 100%;
     display: flex;
     flex-direction: column;
     justify-content: center;
     /* align-items: center; */
     margin-left: 14rem;
     margin-top: 6rem;
     position: relative;
 }

 .main-content h2 {
     font-size: 4rem;
 }

 .main-content h3 {
     font-size: 2rem;
 }

 .btn button {
     width: 12vw;
     height: 10vh;
     color: black;
     border: 3px solid black;
     border-radius: 2rem;
     font-size: 1rem;
     font-weight: 500;
     /* font-family: font-family: 'Jost', sans-serif; */
     font-family: 'Poppins', sans-serif;
     /* font-family: 'Roboto', sans-serif;; */
 }

 .btn {
     margin-top: 1%;
     text-decoration: none;

 }

 .btn button:hover {
     background: linear-gradient(45deg, rgb(255, 28, 119), rgb(46, 179, 223));
     -webkit-text-fill-color: transparent;
     -webkit-background-clip: text;

 }

 .image {
     position: absolute;
     height: 352px;
     width: 24vw;
     background: linear-gradient(45deg, rgb(255, 28, 119), rgb(46, 179, 223));
     /* -webkit-text-fill-color: transparent; */
     /* -webkit-background-clip: text; */
     ;
     /* background-color: blue; */
     border-radius: 50%;
     padding-left: 0rem;
     margin-left: 38rem;
     margin-bottom: -18rem;
     margin-top: -11rem;
     padding-left: 0rem;
     padding-top: 4rem;
     transition: 0.5s ease-in ;
     position: absolute;


 }

 .imag-glowing {

     background-color: pink;
     height: 370px;
     margin-left: 0rem;
     margin-top: -40px;
     border-radius: 50%;
     width: 92%;
     margin-left: 1rem;
     border-radius: 50%;

 }

 .imag-glowing img {


     height: 370px;

     margin-left: 1px;
     margin-top: 1px;
     border-radius: 50%;
     width: 100%;
 }
 footer{
    background-color:linear-gradient(45deg, rgb(255, 28, 119), rgb(46, 179, 223));
    height:3rem;
    width:100vw;
    margin-top: 11rem;
 }
 footer:hover{
    background: linear-gradient(45deg, rgb(255, 28, 119), rgb(46, 179, 223));
 }
 .footer-icon{
    display: flex;
    justify-content: center;
    
 }
 .footer-icon a{
    margin-top: 1rem;
    align-items: center;
    margin:1em;
    font-size: 1rem;
 }